* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Container {
  width: 600px;
  background-color: white;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  margin-left: 400px;
  width: 350px;
  margin-right: 250px;
  margin-top: 80px;
  height: 500px;
}
body {
  width: 1440px;
  font-size: 15px;
  font-family: "Outfit";
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #68778dff;
}

img {
  border-radius: 5%;
  block-size: 310px;
  margin-right: 45px;
  margin-top: 18px;
}

p .bold {
  font-weight: 700;

  color: hwb(0 3% 97%);
}
p,
.slim {
  font-weight: 400;
}
.one {
}
